<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="root">
        <header>
            <h1 class="title">la tua lista online</h1>
        </header>
        <main>
            <div class="inserimento-dati">
                <input v-model="newTodo" class="text-insert" type="text" placeholder="inserisci la tua lista">
                <button class="add-btn">aggiungi</button>
            </div>
            <div class="liste">
                <ul>
                    <li v-for="(element ,index) in todo" :class="{'completed': element.done } ">
                        {{element.text}}
                        <div class="icon" @click="completed(index)">
                            <i  class="far fa-window-close"></i>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>